<footer class="footer">
    <div class="container">
        <div class="footer__brand wow fadeIn" data-wow-delay="0.2s">
            <img src="../images/brands/tree-white.png" alt="">
        </div>

        <div class="footer__links">
            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                <li class="title">Home</li>
                <li>
                    <a href="#">Soluções</a>

                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Portfólio</a>

                </li>
                <li>
                    <a href="#">Contato</a>

                </li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                <li class="title">Nossas soluções</li>
                <li>
                    <a href="#">Consultoria em marketing digital</a>
                </li>
                <li>
                    <a href="#">Reforço da sua equipe</a>

                </li>
                <li>
                    <a href="#">Produção de vídeo</a>

                </li>
                <li>
                    <a href="#">Estratégia de conteúdo</a>

                </li>
                <li>
                    <a href="#">Estratégia de Canais</a>

                </li>
                <li></li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                <li class="title">Contato</li>
                <li>
                    <a href="#">+55 11 5555.0000</a>
                </li>
                <li>
                    <a href="#">+55 11 5555.0000</a>

                </li>
                <li>
                    <a href="#">+55 11 5555.0000</a>

                </li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                <li class="title">Siga-nos</li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                        Facebook</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        Instagram</a>

                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                        Linkedin</a>

                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                        Youtube</a>

                </li>
            </ul>
        </div>
    </div>
</footer>