<nav id="main-nav" class="main-nav">
    <div class="container">
        <div class="main-nav__tree">
            <img class="tree" src="../images/brands/tree-black.png" alt="Arvore estilizada">
            <img class="lines" src="../images/ico/lines.png" alt="Linhas estilizadas">
        </div>
        <button class="main-nav__toggler" data-toggle="navbar">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </button>
        <div id="mobile-nav-content" class="main-nav__content">
            <ul class="main-nav__links">
                <li class="d-block d-lg-none active">
                    <a href="#">Home</a>

                    <div class="line"></div>
                </li>
                <li>
                    <a href="#">Soluções</a>

                    <div class="line"></div>
                </li>
                <li>
                    <a href="#">Portfólio</a>

                    <div class="line"></div>
                </li>
                <li>
                    <a href="#">Blog</a>

                    <div class="line"></div>
                </li>
                <div class="main-nav__close" data-toggle="navbar">
                    X
                </div>
            </ul>
        </div>
    </div>
</nav>