.direto-blog {
    padding: 90px 0 40px;
    max-width: 100vw;
    overflow: hidden;
    @media screen and (max-width: $bp-MD) {
        padding: 30px 0;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $bp-MD) {
            text-align: left;
            font-size: 20px;
        }
    }

    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;     

        @media screen and (max-width: $bp-MD) {
            flex-direction: column;
        }

        .stroked{
            -webkit-text-stroke-color: $color-secondary;
            color: rgba(129,105,157, 0);
            transition: color 1s ease-in-out;
            
            &.fill{
                color: rgba(129,105,157, 1);
            }
        }
        .sm {
            font-size: 30px;
            text-align: right;
            color: $color-secondary;
            font-family: 'FH';
            text-transform: uppercase;
            margin-right: -14px;
            @media screen and (max-width: $bp-LG) {
                font-size: 27px;
            }
            @media screen and (max-width: $bp-MD) {
                text-align: left;
                font-size: 20px;
            }
        }

        .lg {
            font-size: 130px;
            margin-top: -29px;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $color-secondary;

            @media screen and (max-width: $bp-LG) {
                font-size: 110px;
                margin-top: -24px;
            }
            @media screen and (max-width: $bp-MD) {
                font-size: 80px;
                text-align: left;
                margin-left: -18px;
                margin-top: -10px;
                
                &.ios{
                    display: block !important;
                    font-size: 80px;
                    text-align: left;
                    margin-left: -18px;
                    margin-top: 10px;
                    letter-spacing: 30px;
                }
            }
        }

        .lg,
        .lg .stroke-lettering {
            font-family: 'HB';
            writing-mode: vertical-rl;
            text-orientation: upright;
            text-transform: uppercase;
            -webkit-text-orientation: upright;
            -webkit-text-stroke-width: 2px !important;
            display: inline;
        }
    }

    &__item {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 50px;

        &.active{
            display: flex;
            animation: fadeIn 1s;
        }

        @media screen and (max-width: $bp-LG) {
            margin-left: 20px;
        }
        @media screen and (max-width: $bp-MD) {
            margin-left: 0;
        }

        .line-wrapper {
            position: absolute;
            left: 37px;
            height: 94%;
            top: 0;
            @media screen and (max-width: $bp-MD) {
                left: 20px;
            }

            @keyframes slideInv100vp {
                0% {
                    max-height: 0;
                }
                100% {
                    max-height: 100%;
                }
            }

            .line {
                position: relative;
                width: 3px;
                height: 100%;
                max-height: 0;
                background-color: $color-primary;
                animation: slideInv100vp 1.4s;
                animation-fill-mode: forwards;
                @media screen and (max-width: $bp-MD) {
                    width: 2.1px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    width: 8px;
                    height: 8px;
                    background-color: $color-primary;
                    border-radius: 50%;
                    @media screen and (max-width: $bp-MD) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }

        .title {
            font-family: 'FB';
            color: $color-secondary;
            font-size: 20px;
            letter-spacing: 4px;
            max-width: 620px;
            line-height: 1.6;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media screen and (max-width: $bp-MD) {
                font-size: 11px;
                line-height: 1.4;
                margin-bottom: 10px;
            }
        }

        .desc {
            font-family: 'FO';
            max-width: 430px;
            letter-spacing: 1.4px;
            line-height: 1.7;
            @media screen and (max-width: $bp-MD) {
                font-size: 12px;
                line-height: 1.4;
            }
        }

        .link {
            display: block;
            font-family: 'FB';
            font-size: 20px;
            letter-spacing: 3px;
            color: $color-secondary;
            text-transform: uppercase;
            margin-top: -4px;
            @media screen and (max-width: $bp-MD) {
                font-size: 11px;
                margin-top: -8px;
                text-align: right;
                padding-right: 40px;
            }
        }

        .chevron {
            margin-top: 90px;
            margin-right: 120px;
            @media screen and (max-width: $bp-MD) {
                width: 30px;
                margin-right: 80px;
            }
        }

        .body {
            position: relative;
            padding-left: 70px;
            @media screen and (max-width: $bp-MD) {
                padding-left: 40px;
            }
        }

        .autor {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 19px;
            letter-spacing: 1px;
            padding-top: 20px;
            @media screen and (max-width: $bp-MD) {
                font-size: 12px;
            }

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 16px;
                @media screen and (max-width: $bp-MD) {
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;
                }
            }
        }

    }
}
