.clientes-banner {
    background-color: $color-secondary;
    padding-top: 100px;
    max-width: 100vw;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: center;

        .title {
            font-family: 'FB';
            color: $color-primary;
            text-transform: uppercase;
            font-size: 17px;
            margin-top: 50px;
            text-align: center;
            line-height: 1.4;
            letter-spacing: 4px;
            @media screen and (min-width: 2000px) {
                font-size: 21px;
                margin-bottom: -30px;
                padding-top: 30px;
            }
            @media screen and (max-width: $bp-SM) {
                font-size: 15px;
                margin-top: -20px;
            }
        }
    }

    .divisor {
        height: 1px;
        width: 80%;
        background-color: rgba(250,250,250,.4);
        max-width: 250px;
        margin-top: 41px;
        margin-bottom: 60px;
        @media screen and (min-width: 2000px) {
            max-width: 320px;
        }
    }

    &__brands-carousel {
        width: 100%;
        padding-top: 42px;
        margin-right: -50px;

        .owl-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-wrapper {
            width: 110%;
            margin-left: -5%;
        }
        @media screen and (min-width: 2000px) {
            padding-top: 80px;
        }
    }

    &__depoimentos-carousel {
        .owl-dots {
            margin-top: -25px;
            margin-bottom: 15px;
            @media screen and (max-width: $bp-MD) {
                margin-top: -33px;
            }

            .owl-dot {
                border: 2px solid #ffffff;
                width: 11px;
                height: 11.5px;
                @include transition();
                &:not(:last-child) {
                    margin-right: 6px;
                    @media screen and (max-width: $bp-MD) {
                        margin-right: 5px;
                    }
                }
                @media screen and (max-width: $bp-MD) {
                    width: 11px;
                    height: 11px;
                }
                &.active {
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }
    }

    &__brand {
        object-fit: contain;
        object-position: center center;
        max-width: 174px;
        height: 54px;
        margin: 10px 0;
        @include transition();
        &:hover {
            @include scale(1.06);
        }
        @media screen and (min-width: 2000px) {
            max-width: 210px;
            height: 60px;
        }
    }

    &__depoimentos-carousel {
        position: relative;
    }

    .depoimentos-wrapper {
        position: relative;
        max-width: 460px;
        padding-bottom: 40px;
        margin: 0 auto;
        @media screen and (max-width: $bp-LG) {
            padding-bottom: 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: -14px;
            right: 10px;
            transform: translateX(100%);
            width: 77px;
            height: 77px;
            background-image: url("../images/ico/quotes.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            @media screen and (max-width: $bp-MD) {
                width: 35px;
                height: 35px;
                right: 40px;
                top: -18px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: -14px;
            left: -130px;
            transform: translateX(100%);
            width: 77px;
            height: 77px;
            background-image: url("../images/ico/quotes-l.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            @media screen and (max-width: $bp-MD) {
                width: 35px;
                left: -30px;
                top: -18px;
                height: 35px;
            }
        }
    }

    &__depoimento {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .desc {
            font-family: 'FBO';
            font-size: 15px;
            letter-spacing: 1.7px;
            color: #fff;
            @media screen and (max-width: $bp-MD) {
                font-size: 12px;
            }
        }

        .author {
            color: $color-primary;
            font-family: 'FB';
            font-size: 14px;
            letter-spacing: 1.2px;
            @media screen and (max-width: $bp-MD) {
                font-size: 11px;
            }
        }
    }

    &.bg-gray {
        .owl-dots {
          
            .owl-dot {
                border: 2px solid $color-secondary;
              
                &.active{
                    background-color: $color-secondary;
                }
            }
        }
    }
}
