.desafios-boxes {
    max-width: 100vw;
    overflow: hidden;

    &__list {
        display: flex;
        justify-content: space-between;
        
        @media screen and (min-width: 1380px){
            margin-left: -70px;
            margin-right: -70px;
        }
        
        @media screen and (min-width: 1104px) and (max-width: 1190px){
            margin-left: -80px;
            margin-right: -80px;
        }

        @media screen and (min-width: 1032px) and (max-width: 1104px){
            margin-left: -60px;
            margin-right: -60px;
        }
    }

    &__item {
        position: relative;
        font-family: 'FM';
        color: #fff;
        width: 19.8%;
        background-color: $color-secondary;
        letter-spacing: 1.4px;
        max-height: 0;
        padding: 36px 34px 20px 30px;
        transition: all 1s;
        font-size: 15px;
        opacity: 0;

        @media screen and (min-width: 1400px){
            padding: 36px 34px 26px 35px;
        }

        @media screen and (min-width: 2000px){
            font-size: 18px;
            padding-left: 40px;
            padding-right: 50px;
        }

        @media screen and (max-width: 1350px){
            font-size: 13px;
            padding-left: 15px;
            padding-right: 15px;
        }

        @media screen and (max-width: $bp-LG){
            max-width: 380px;
            display: none;
            margin: 0 auto;
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;
            width: 100%;
            font-size: 18px;
            
            &.active{
                display: block;
                animation: fadeIn 0.8s;
            }
        }
        
        @media screen and (max-width: $bp-MD){
            max-width: 310px;
            display: none;
            margin: 0 auto;
            padding-bottom: 30px;
            padding-right: 15px;
            padding-top: 30px;
            padding-left: 28px;
            width: 100%;
            font-size: 16px;
        }

        &.active{
            max-height: 700px;
            opacity: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 25px;
            width: 0;
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-top: 17px solid black;

            @media screen and (max-width: $bp-MD){
                border-width: 15px;
                left: 17px;
            }
        }
    }
}
