.home-tree {
    padding-bottom: 108px;
    background-color: #8169a7;
    @include transition();

    .container {
        position: relative;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 27%;
        z-index: 1;
        background-color: #fff;
        opacity: 0;
        pointer-events: none;
        @media screen and (max-width: $bp-MD) {
            height: 20%;
        }
    }
    @media screen and (max-width: $bp-LG) {
        padding-bottom: 90px;
    }

    &__banner {
        position: relative;
        background-color: #000000;
        padding: 0 70px 40px;
        margin-top: 17px;
        @media screen and (max-width: $bp-MD) {
            padding: 0 30px;
            margin-top: 7px;
        }

        .popup-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 110%;
            background-color: black;
            z-index: 6;
            pointer-events: none;
            opacity: 0;
            transition: all 0.4s;
            transform: translateY(-50px);
            overflow: hidden;
            @media screen and (min-width: 2000px) {
                height: 100%;
            }
            @media screen and (max-width: $bp-LG) {
                height: 100%;
            }
            @media screen and (max-width: $bp-SM) {
                height: 105%;
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                transform: translateY(0);
            }

            .bg {
                height: 95%;
                top: 30px;
                right: 6%;
                position: absolute;
                opacity: 0.52;
                @media screen and (max-width: $bp-MD) {
                    right: -100%;

                }
                @media screen and (max-width: $bp-LG) {
                    right: -46%;
                }
            }

            .content {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                max-width: 560px;
                border: 3px solid $color-primary;
                padding: 30px 50px;
                border-radius: 50px;
                @media screen and (min-width: 2000px) {
                    max-width: 620px;
                }
                @media screen and (max-width: 1200px) {
                    padding: 10px 40px;
                }
                @media screen and (max-width: $bp-LG) {
                    padding: 50px;
                }
                @media screen and (max-width: $bp-MD) {
                    border: none;
                    padding: 30px 20px;
                    overflow: hidden;
                }

                .close {
                    position: absolute;
                    font-size: 18px;
                    right: 24px;
                    top: 30px;
                    color: #fff;
                    font-family: 'FO';
                    opacity: 1;
                }

                .title {
                    color: $color-primary;
                    font-size: 28px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-family: 'FH';
                    @media screen and (min-width: 2000px) {
                        font-size: 32px;
                    }
                    @media screen and (max-width: 1200px) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        font-size: 18px;
                        font-family: 'FH';
                        margin-bottom: 8px;
                    }
                }

                .desc {
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: 0.4px;
                    margin-bottom: 30px;
                    @media screen and (max-width: 1200px) {
                        font-size: 13px;
                    }
                    @media screen and (min-width: 2000px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        font-size: 11px;
                    }
                }

                input,
                textarea {
                    width: 100%;
                    padding: 2px 10px;
                    font-size: 14px;
                    background: #fff;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    border: none;

                    &.error {
                        margin-bottom: -3px;
                    }
                    @media screen and (min-width: 2000px) {
                        margin-bottom: 25px;
                        font-size: 16px;
                    }
                    @media screen and (max-width: 1200px) {
                        padding: 1px 5px;
                        font-size: 13px;
                        border-radius: 10px;
                    }

                    &::placeholder {
                        color: rgb(177, 177, 177);
                    }
                }

                small {
                    color: rgb(177, 177, 177);
                }

                textarea {
                    margin-bottom: 0;
                    padding-top: 5px;
                    height: 120px;
                    @media screen and (max-width: 1200px) {
                        height: 80px;
                    }
                }

                .submit-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: stretch;
                    width: 100%;
                    margin-bottom: -15px;
                    @media screen and (min-width: 2000px) {
                        margin-bottom: -25px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        padding: 10px 40px;
                    }
                    @media screen and (min-width: 390px) and (max-width: $bp-MD) {
                        margin-top: 30px;
                    }

                    img {
                        width: 50px;
                        padding-bottom: 15px;
                        @media screen and (max-width: $bp-MD) {
                            width: 40px;
                        }
                        @media screen and (min-width: 2000px) {
                            width: 70px;
                        }
                    }

                    .send {
                        background-color: $color-primary;
                        font-size: 14px;
                        color: #fff;
                        letter-spacing: 1.4px;
                        border: none;
                        padding: 0 11px;
                        font-family: 'FB';
                        text-transform: uppercase;
                        border-radius: 20px;
                        opacity: 0;
                        transition: all 1.3s ease-in-out;
                        transition-delay: 0.9s;
                        @media screen and (min-width: 2000px) {
                            font-size: 16px;
                        }
                        @media screen and (max-width: $bp-MD) {
                            font-size: 12px;
                            font-family: 'FO';
                            padding: 0 5px;
                        }

                        &.active {
                            opacity: 1;
                        }
                    }

                    .line-wrapper {
                        position: relative;
                        max-width: 0;
                        width: 100%;
                        margin-right: 10px;
                        margin-left: -5px;
                        transition: all 3s;
                        @media screen and (max-width: $bp-MD) {
                            margin-left: 0;
                        }

                        &.active {
                            max-width: 100%;
                        }

                        .line {
                            width: 100%;
                            height: 2px;
                            background-color: #fff;
                            @media screen and (max-width: $bp-MD) {
                                height: 1.5px;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                width: 6px;
                                height: 6px;
                                background-color: #fff;
                                border-radius: 50%;
                                transform: translateY(-50%);
                                @media screen and (max-width: $bp-MD) {
                                    width: 5px;
                                    height: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__caption {
        padding-top: 110px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        @media screen and (min-width: 2000px) {
            padding-top: 190px;
        }
        @media screen and (max-width: $bp-XL) {
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @media screen and (max-width: $bp-LG) {
            margin-top: -80px;
            padding-bottom: 70px;
        }
        @media screen and (max-width: $bp-MD) {
            margin-top: -150px;
            padding-bottom: 50px;
        }
        @media screen and (max-width: 444px) {
            margin-top: -130px;
        }

        .title {
            font-size: 54px;
            font-family: 'FH';
            letter-spacing: 9px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 40px;
            @media screen and (min-width: 2000px) {
                font-size: 76px;
                margin-bottom: 30px;
            }
            @media screen and (max-width: $bp-XL) {
                font-size: 30px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: $bp-LG) {
                font-size: 40px;
                margin-top: 0;
                letter-spacing: 6px;
                padding-right: 140px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: $bp-MD) {
                font-size: 30px;
                letter-spacing: 6px;
                margin-bottom: 20px;
                padding-right: 0;
                margin-top: 20px;
            }
            @media screen and (max-width: 430px) {
                font-size: 26px;
                line-height: 1.4;
                padding-right: 0;
                margin-top: 10px;
                margin-bottom: 16px;
            }
            @media screen and (max-width: 390px) {
                font-size: 23px;
            }
            @media screen and (max-width: 370px) {
                font-size: 21px;
            }
        }

        .desc {
            font-size: 13px;
            font-family: 'FM';
            letter-spacing: 3px;
            color: #fff;
            text-transform: uppercase;
            @media screen and (min-width: 2000px) {
                font-size: 19px;
            }
            @media screen and (max-width: $bp-XL) {
                font-size: 11px;
                line-height: 2;
            }
            @media screen and (max-width: $bp-LG) {
                font-size: 9px;
                letter-spacing: 5px;
            }
            @media screen and (max-width: $bp-MD) {
                font-size: 8px;
                letter-spacing: 3px;
                line-height: 2;
            }

            .phrase-2 {
                display: flex;
                flex-wrap: nowrap;
                margin-top: 24px;
                @media screen and (max-width: $bp-XL) {
                    margin-top: 1.3px;
                    flex-direction: column;
                }

                .line {
                    @keyframes slideIn100px {
                        0% {
                            width: 0;
                        }
                        100% {
                            width: 105px;
                        }
                    }

                    position: relative;
                    display: inline-block;
                    width: 0;
                    height: 2.3px;
                    background-color: #8169a7;
                    margin-right: 10px;
                    z-index: 1;
                    animation: slideIn100px 1s;
                    animation-fill-mode: forwards;
                    max-width: 180px;
                    animation-delay: 1.7s;
                    margin-left: 3px;
                    @media screen and (min-width: 2000px) {
                        max-width: 200px;
                        margin-bottom: 7px;
                    }
                    @media screen and (max-width: 1300px) {
                        max-width: 70px;
                    }
                    @media screen and (max-width: 1230px) {
                        max-width: 50px;
                    }
                    @media screen and (max-width: $bp-XL) {
                        max-width: 105px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        max-width: 90px;
                        height: 1.5px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        max-width: 50px;
                        height: 1.8px;
                        max-width: 120px;
                    }
                    @media screen and (max-width: 444px) {
                        max-width: 160px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 5px;
                        height: 5px;
                        background-color: #fff;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .contact {
                    display: inline-block;
                    padding: 6px 14px;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    background-color: #ffb84d;
                    font-family: 'FB';
                    color: #fff;
                    border-radius: 60px;
                    margin-top: 2px;
                    @include transition();
                    @media screen and (min-width: 2000px) {
                        font-size: 19px;
                    }
                    @media screen and (max-width: $bp-XL) {
                        font-size: 13px;
                        padding: 1px 10px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        font-size: 12px;
                        padding: 5px 10px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        font-size: 10px;
                        padding: 4px 9px;
                    }
                    &:hover {
                        @include scale(1.04);
                    }
                }

                .icons {
                    display: flex;
                    align-items: center;
                    margin-top: -4px;
                    @media screen and (min-width: 2000px) {
                        margin-top: 4px;
                    }
                    @media screen and (max-width: $bp-XL) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 1;
        width: 100%;

        img {
            position: relative;
            width: 93%;
            margin-left: -1%;
            margin-bottom: -37px;
            min-height: auto;
            height: auto;
            @media screen and (min-width: 2000px) {
                width: 86%;
                margin-left: -37%;
            }
            @media screen and (max-width: $bp-LG) {
                width: 65%;
                margin: 0 auto;
                opacity: 0.7;
            }
            @media screen and (max-width: $bp-MD) {
                width: 115%;
                margin: 0 auto;
            }
        }
    }

    .main-nav {
        .colorful {
            display: none;
            animation: fadeIn 0.4s;
        }

        .black {
            display: flex;
            animation: fadeIn 0.4s;

        }
    }
    &.has-cookies {
        position: relative;
        padding-bottom: 108px;

        .container {
            position: relative;
            z-index: 2;
        }

        &::after {
            opacity: 1;
        }

        .main-nav {
            position: relative;
            @media screen and (max-width: $bp-MD) {
                margin-top: -5px;
            }

            &__toggler {
                div {
                    background-color: $color-secondary;
                }
            }

            .black {
                animation: fadeIn 0.4s;
                display: none !important;
            }

            .colorful {
                position: relative;
                display: block;

                @media screen and (max-width: $bp-LG) {
                    padding: 3px;
                }

                .tree {
                    position: relative;
                    z-index: -1;
                    margin-bottom: -27px;
                    width: 101%;
                    margin-left: -2%;

                    @media screen and (max-width: $bp-LG){
                        width: 82px;
                        margin: 0;
                    }

                    @media screen and (min-width: 2000px){
                        margin-bottom: -42px !important;
                    }
                    
                }
            }

            &__tree {
                overflow: visible;
            }

            &__links {
                li {
                    @media screen and (min-width: $bp-LG) {
                        color: $color-secondary !important;
                    }
                }
            }
        }

    }

    &__cookies {
        position: absolute;
        background-color: #e6e7e8;
        width: 100vw;
        height: 130vh;
        z-index: 11;
        overflow: hidden;
        opacity: 1;
        transition: opacity 0.4s;
        @media screen and (max-width: $bp-LG) {
            width: 100%;
            height: unset;
            position: relative;
            margin-bottom: -60px;
        }

        &.hide {
            pointer-events: none;
            opacity: 0;
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: cnter;
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 0 0 25px 25px;
            padding: 15px 35px 18px;
            letter-spacing: 0.9px;
            color: rgba(0,0,0,.8);
            font-size: 15px;
            @media screen and (min-width: 2000px) {
                font-size: 18px;
                border-radius: 0 0 30px 30px;
                max-width: 1300px;
            }
            @media screen and (max-width: $bp-LG) {
                padding: 10px 18px;
                border-radius: 0;
                font-size: 10px;
            }

            a {
                font-family: 'FO';
                font-weight: normal;
                color: rgba(0,0,0,.8);
                letter-spacing: 0.8px;
            }

            u {
                margin-left: 8px;
                @media screen and (max-width: $bp-SM) {
                    margin-left: 4px;
                }
            }

            button {
                background-color: $color-primary;
                padding: 2px 11px;
                border-radius: 30px;
                border: none;
                color: #fff;
                letter-spacing: 2.5px;
                margin-left: 13px;
                @media screen and (max-width: $bp-SM) {
                    margin-left: 4px;
                    padding: 1px 6px;
                }
            }
        }
    }
}
