// Futura STD BOLD
@font-face {
    font-family: "FB";
    src: url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.eot");
    src: url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.woff") format("woff"), url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/93dfd51b8a2f04cf6b71f2eea0d20031.svg#Futura Std") format("svg");
}

// Futura STD HEAVY
@font-face {
    font-family: "FH";
    src: url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.eot");
    src: url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f7339bec7d6baa9a4bf184e63bf013dd.svg#Futura Std") format("svg");
}

// Futura STD Medium
@font-face {
    font-family: "FM";
    src: url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.eot");
    src: url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.woff") format("woff"), url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/14792084dfffdbe3116c33b3a8c5c5f9.svg#Futura Std") format("svg");
}

// Futura STD Book Oblique
@font-face {
    font-family: "FBO";
    src: url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.eot");
    src: url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.woff") format("woff"), url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5c93534f730451dd5b64c72434e4a14d.svg#Futura Std") format("svg");
}
// Futura STD Book
@font-face {
    font-family: "FO";
    src: url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.eot");
    src: url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.svg#Futura Std") format("svg");
}

// Helvetica Black
@font-face {
    font-family: "HB";
    src: url("../fonts/helvetica-black.woff") format("woff");
}

@font-face {
    font-family: "MPL";
    src: url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.eot");
    src: url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.woff") format("woff"), url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.svg#Myriad Pro") format("svg");
}