.inner-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 18px;

    @media screen and (max-width: $bp-MD){
        font-size: 30px;
    }
}

.inner-desc{
    font-weight: 300;
    font-size: 21px;
    color: #2A2A2A;

    @media screen and (max-width: $bp-MD){
        font-size: 15px;
    }
}


.text-sm{
    font-size: 13px;
}

.text-md {
    font-size: 17px;
}

.color-primary {
    color: $color-primary !important;
}

.color-white {
    color: #fff !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.color-dark {
    color: $color-dark !important;
}

.stroke-lettering{
    @keyframes fillInPrimary {
        0% {
            color: rgba(129,105,157, 0);
        }
        100% {
            color: rgba(129,105,157, 1);
        }
    }
    
    @keyframes fillInDark{
        0% {
            color: rgba(0,0,0, 0);
        }
        100% {
            color: rgba(0,0,0, 1);
        }
    }
    
    -webkit-text-stroke-width: 1.5px;
    font-family: 'FB';
    -webkit-text-stroke-color: $color-secondary;
    color: rgba(129,105,157, 0);
    transition: color 2s ease-in-out;
    animation: fillInPrimary 2s;
    animation-fill-mode: forwards;
    
    @media screen and (max-width: $bp-SM){
        -webkit-text-stroke-width: 1px;
    }
    
    &.black{
        -webkit-text-stroke-color: black;
        color: rgba(0,0,0, 0);
        animation: fillInDark 2s;
        animation-fill-mode: forwards;
    }
}