.banner-campanha-2{
    width: 102%;
    margin-left: -1%;
    background-color: $color-secondary;
    padding: 13px;

    .maintitle{
        font-size: 34px !important;
        letter-spacing: 5px !important;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
        
        @media screen and (min-width: $bp-LG) and (max-width: $bp-XL){
            font-size: 14px !important;
            letter-spacing: 3px !important;
            margin-bottom: 0px !important;

        }
    }

    .brand{
        max-width: 140px;
        margin: 0 !important;

        @media screen and (max-width: $bp-MD){
            max-width: 110px;
            margin-bottom: 15px !important;
        }
    }

    .banner{
        margin: 0 !important;

        @media screen and (max-width: $bp-MD){
            margin-top: 15px !important;
        }
    }

    .line-wrapper{
        display: flex;
        align-items: center;
        position: relative;

        .link{
            background-color: $color-primary;
            color: #fff;
            padding: 2px 12px;
            text-transform: uppercase;
            border-radius: 20px;
            font-family: 'FB';
            font-size: 18px;
            letter-spacing: 3.5px;
            margin-left: 15px;

            &.sm{
                font-size: 14px;
            }
        }

        .line {
            position: relative;
            height: 2.4px;
            width: 60%;
            background-color: #fff;
            max-width: 0;
            animation: slideIn100perc 3s;
            animation-fill-mode: forwards;

            @media screen and (max-width: $bp-LG){
                height: 1.6px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                background-color: #fff;
                border-radius: 50%;

                @media screen and (max-width: $bp-LG){
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
}