.footer {
    background-color: black;
    padding-bottom: 70px;

    @media screen and (max-width: $bp-LG){
        padding-bottom: 40px;
    }

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;

        @media screen and (max-width: $bp-LG){
            padding-top: 40px;
        }

        img {
            width: 84px;

            @media screen and (max-width: $bp-LG){
                width: 65px;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;

        @media screen and (max-width: $bp-MD){
            flex-direction: column;
        }

        ul {
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $bp-MD){
                padding-left: 20px;
                &:not(:last-child){
                    margin-bottom: 28px;
                }
            }

            li {
                font-family: 'FO';
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 15px;
                margin-bottom: 8px;

                @media screen and (max-width: $bp-LG){
                    font-size: 13px;
                }

                @media screen and (max-width: $bp-MD){
                    font-size: 12px;
                }

                i{
                    font-size: 19px;

                    @media screen and (max-width: $bp-LG){
                        font-size: 17px;
                    }
                }

                a{
                    color: inherit;
                }

                &.title {
                    font-family: 'FB';
                    font-size: 19px;
                    color: $color-primary;
                    letter-spacing: 3PX;
                    text-transform: uppercase;
                    margin-bottom: 12px;

                    @media screen and (max-width: $bp-LG){
                        font-size: 17px;
                    }

                    @media screen and (max-width: $bp-MD){
                        font-size: 15px;
                    }
                }

            }
        }
    }
}
