@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

$treewidthlg: 80px;

.main-nav {
    position: relative;
    z-index: 7;
    display: block;
    max-width: 100vw;
    
    @keyframes slideIn {
        0% {
            max-width: 0%;
        }
        100% {
            max-width: 98%;
        }
    }  
    
    &.bg-secondary{
        margin-bottom: -1px;
    }

    .container {
        @media screen and (max-width: $bp-LG) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
        }
    }

    &__tree {
        position: relative;
        display: flex;

        .tree {
            width: 100%;
        }

        
    }

    &__toggler {
        display: none;
        background: none;
        border: none;
        margin-right: -5px;

        div {
            width: 27px;
            height: 1.8px;
            background-color: black;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        @media screen and (max-width: $bp-LG) {
            display: inline-block;
        }
    }

    &__close {
        position: absolute;
        top: 19px;
        right: 41px;
        background: none;
        border: none;
        display: none;
        font-size: 27px;
        font-family: 'Fm';
        cursor: pointer;
        
        @media screen and (max-width: $bp-LG){
            display: block;
        }
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        max-width: 100vw;

        .overlay{
            display: none;
            position: absolute;
            top: -15px;
            right: 0;
            z-index: 1;
            background-color: $color-secondary;
            width: 100vw;
            height: 90vh;

            @media screen and (max-width: $bp-LG){
                display: block;
            }
        }

        @media screen and (max-width: $bp-LG) {
            position: absolute;
            left: 0;
            top: 127px;
            pointer-events: none;
            opacity: 0;
            padding: 0 14px;
            width: 100%;
            margin-top: -30px;
            transition: all 0.4s ease-in-out;

            &.active {
                pointer-events: all;
                margin-top: 0;
                opacity: 1;
            }
        }

        @media screen and (max-width: $bp-MD){
            top: 88px;
        }
    }
    &__links {
        display: flex;
        padding-right: 18px;
        z-index: 2;

        @media screen and (max-width: $bp-LG) {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #ffb84d;
            padding: 40px 43px;
            padding-top: 35px;

        }

        @media screen and (max-width: $bp-MD){
            max-width: 510px;
            margin: 0 auto;
        }

        li {
            display: inline-block;
            font-size: 16px;
            font-family: 'FM';
            text-transform: uppercase;
            letter-spacing: 2px;
            color: black;
            opacity: 0;
            animation: opacityIn 2s;
            animation-fill-mode: forwards;
            animation-delay: 2.4s;

            @media screen and (max-width: $bp-XL) {
                font-size: 15px;
            }

            &:hover {
                color: #fff;
            }

            &:nth-child(2) {
                animation-delay: 1.1s;
            }

            &:nth-child(3) {
                animation-delay: 1.5s;
            }

            &:nth-child(4) {
                animation-delay: 1.9s;
            }

            a {
                color: inherit;
                @include transition();
            }

            &:not(:last-child) {
                margin-right: 45px;
            }

            @media screen and (max-width: $bp-LG){
                position: relative;
                font-family: 'FH';
                font-size: 33px;
                text-transform: uppercase;

                &:not(:nth-last-child(2)) {
                    margin-right: 0;
                    margin-bottom: 60px;
                }

                .line{
                    position: absolute;
                    right: -40px; 
                    top: 50%;
                    transform: translateY(-50%);
                    width: 113%;
                    height: 2.3px;
                    background-color: #fff;
                    margin-right: -30px;
                    z-index: 1;
                    opacity: 0;
                    @include transition();

                    &:after{
                        content: '';
                        position: absolute;
                        transform: translateY(-50%);
                        right: 0;
                        width: 8px;
                        top: 50%;
                        height: 8px;
                        background-color: #fff;
                        border-radius: 50%;
                    }
                }

                a{
                    position: relative;
                    z-index: 3;
                }
                
                &.active, &:hover{
                    color: black !important;

                    .line{
                        opacity: 1;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
