.footer {
    background-color: black;
    padding-bottom: 70px;

    &__brand {
        display: flex;
        justify-content: center;
        padding-top: 60px;

        img {
            width: 84px;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                font-family: 'FO';
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 15px;
                margin-bottom: 8px;

                i{
                    font-size: 19px;
                }

                a{
                    color: inherit;
                }

                &.title {
                    font-family: 'FB';
                    font-size: 19px;
                    color: $color-primary;
                    letter-spacing: 3PX;
                    text-transform: uppercase;
                    margin-bottom: 12px;
                }

            }
        }
    }
}
