.pagination {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    @media screen and (max-width: $bp-MD) {
        padding-top: 20px;
    }

    ul {
        display: flex;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-primary;
            border: 2px solid $color-primary;
            padding: 1px 9px;
            border-radius: 40px;
            height: 100%;
            @include transition();
            &:not(:first-child) {
                border-left: none;
                margin-left: -12px;
                padding-left: 14px;
                border-radius: 0 40px 40px 0;
            }

            &.active {
                background-color: $color-primary;
                color: #fff;
            }

            &.hover {
                background-color: opacify($color-primary, .4);
                color: #fff;
            }

            &.last {
                font-size: 11px;
                padding-left: 16px;
            }

            a {
                color: inherit;
            }
        }
    }
}
