.banner-conheca {
    background-color: $color-primary;
    padding: 80px 0 100px;

    @media screen and (max-width: $bp-LG){
        padding: 50px 0 40px;
    }

    &__caption {
        

        .has-line {
            position: relative;
            display: block;
            width: 184.6%;
            margin: 14px 0 30px;

            @media screen and (max-width: $bp-XL){
                width: 178%;
            }

            @media screen and (max-width: $bp-LG){
                width: 70%;
            }

            @keyframes slideIn110p {
                0% {
                    max-width: 0;
                }
                100% {
                    max-width: 113%;
                }
            }

            .line {
                position: absolute;
                width: calc(100% + 17px);
                height: 3.3px;
                background-color: #fff;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                max-width: 0;
                animation: slideIn110p 1.4s;
                animation-fill-mode: forwards;
                margin-left: -15px;

                @media screen and (min-width: 2000px) {
                    width: calc(100% + 50px);
                }

                @media screen and (max-width: $bp-LG) {
                    width: calc(100% + 4px);
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 7.6px;
                    height: 7.6px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
    }

    &__title {
        font-family: 'FH';
        font-size: 30px;
        text-align: left;
        margin-right: -40px;
        letter-spacing: 4.3px;
        line-height: 1.4;
        text-transform: uppercase;
        color: $color-secondary;

        @media screen and (max-width: $bp-XL){
            font-size: 20px;
            line-height: 1.6;
        }

        @media screen and (max-width: $bp-LG){
            font-size: 27px;
        }

        @media screen and (max-width: $bp-SM){
            font-size: 25px;
        }
    }

    &__desc {
        font-size: 15px;
        letter-spacing: 1.6px;
        font-family: 'FO';
        text-transform: uppercase;
        margin-right: -30px;
        line-height: 1.8;

        @media screen and (max-width: $bp-XL){
            font-size: 12px;
        }

        @media screen and (max-width: $bp-LG){
            font-size: 14px;
            max-width: 300px;
            margin-bottom: 70px;
        }

        @media screen and (max-width: $bp-SM){
            font-size: 11px;
            letter-spacing: 2.1px;
            max-width: 270px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: -104px;

        @media screen and (max-width: $bp-MD){
            margin-top: -50px;
        }

        img {
            width: 60px;
            margin-right: 100px;

            @media screen and (max-width: $bp-XL){
                width: 58px;
                margin-right: 60px;
            }

            @media screen and (max-width: $bp-MD){
                width: 40px;
                margin-right: 40px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media screen and (max-width: $bp-LG){
            margin-top: 0 !important;
            margin-bottom: 100px !important;
        }

        &.item-1 {
            margin-top: 210px;

            @media screen and (max-width: $bp-XL){
                margin-top: 160px;
            }

            .line-wrapper {
                position: absolute;
                right: -50px;
                bottom: -115px;
                width: 268%;

                @media screen and (max-width: $bp-XL){
                    width: 147%;
                }
            }
        }

        &.item-2 {
            margin-top: 307px;

            @media screen and (max-width: $bp-XL){
                margin-top: 255px;
            }
        }

        &.item-3,
        &.item-4,
        &.item-5 {
            margin-top: 107px;
        }

        &.item-6 {
            margin-top: 106px;
        }

        &.item-3{
            .line-left{
                width: 166% !important;

                @media screen and (max-width: $bp-XL){
                    width: 92% !important;
                }
            }
        }

        &.item-4{
            .line-left{
                width: 226% !important;

                @media screen and (max-width: $bp-XL){
                    width: 127% !important;
                }
            }
        }

        .line-wrapper {
            position: absolute;
            right: 0;
            display: block;
            transform: translateX(100%);
            width: 184.6%;
            margin: 14px 0 30px;

            @keyframes slideIn110p {
                0% {
                    max-width: 0;
                }
                100% {
                    max-width: 113%;
                }
            }
            @keyframes slideIn100vp {
                0% {
                    max-height: 0;
                }
                100% {
                    max-height: 100%;
                }
            }

            .line {
                position: absolute;
                width: calc(100% + 17px);
                height: 3.3px;
                background-color: #fff;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                max-width: 0;
                animation: slideIn110p 0.8s;
                animation-fill-mode: forwards;
                margin-left: -15px;

                @media screen and (min-width: 2000px) {
                    width: calc(100% + 50px);
                }

                @media screen and (max-width: $bp-LG) {
                    width: calc(100% + 4px);
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }

            &.line-vertical {
                width: 3px;
                height: 84px;
                right: unset;
                left: 50%;
                top: unset;
                bottom: -120px;
                transform: translate(-50,0);
                
                .line {
                    width: 100%;
                    height: 100%;
                    max-height: 0;
                    max-width: unset !important;
                    animation: slideIn100vp 0.5s;
                    top: unset;
                    transform: unset;
                    animation-fill-mode: forwards;
                    
                    &::after{
                        left: 50%;
                        top: unset;
                        transform: translateX(-50%);
                        bottom: 0;
                    }
                }
            }

            &.line-left {
                right: unset;
                top: -6px;
                left: -18px;
                width: 180%;
                transform: translateX(-100%);
                display: flex;
                justify-content: flex-end;

                .line {
                    position: relative;
                    top: unset;
                    transform: unset;
                  &::after{
                      right: unset;
                      left: 0;
                  }
                }
            }
        }

        .title {
            position: relative;
            font-size: 19px;
            letter-spacing: 1.2px;
            font-family: 'FH';
            color: black;
            text-transform: uppercase;

            .text {
                position: relative;
                z-index: 2;
            }

            .big-letter {
                position: absolute;
                font-size: 83px;
                left: -46px;
                top: 0;
                transform: translateY(-50%);
                -webkit-text-stroke-width: 1.2px;
                font-family: 'FH';
                -webkit-text-stroke-color: #fff;
                color: rgba(129,105,157, 0);

                &.letter-p {
                    font-size: 88px;
                    top: -2px;
                    left: -20px;
                }

                &.letter-e {
                    font-size: 88px;
                    top: -2px;
                    left: -33px;
                }
            }
        }

        .desc {
            font-size: 13px;
            letter-spacing: 0.5px;
            padding-top: 2px;
            margin: 0 -30px;
        }
    }

    &.v-2{
        .banner-conheca__item{
            &.item-1{
                .line-right {
                    position: absolute;
                    right: -90px;
                    bottom: -115px;
                    width: 232%;
    
                    @media screen and (max-width: $bp-XL){
                        width: 119%;
                    }
                }
            }

            &.item-3{
                .line-left {
                    position: absolute;
                    width: 118% !important;
                    left: -27px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 119%;
                    }
                }
            }
            &.item-4{
                .line-left {
                    position: absolute;
                    width: 165% !important;
                    left: -27px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 119%;
                    }
                }

                .big-letter{
                    left: -29px;
                }
            }
            &.item-5{
                
                .big-letter{
                    left: -29px;
                }
            }
            &.item-6{
                
                .big-letter{
                    left: -17px;
                    top: 7px;
                }
            }
        }
    }

    &.v-3{
        .banner-conheca__caption{
           
            .banner-conheca__title{
                white-space: nowrap;
            }

            .has-line{
                width: 187%;

                @media screen and (max-width: $bp-XL){
                    width: 182%;
                }

                @media screen and (max-width: $bp-LG){
                    width: 120%;
                }

                @media screen and (max-width: $bp-MD){
                    width: 80%;
                }
            }
        }

        .banner-conheca__item{
            &.item-1{
                margin-top: 187px;

                @media screen and (max-width: $bp-XL){
                    margin-top: 144px;
                }

                .line-right {
                    position: absolute;
                    right: -60px;
                    bottom: -114px;
                    width: 256%;
    
                    @media screen and (max-width: $bp-XL){
                        width: 140%;
                    }
                }

                .big-letter{
                    position: absolute;
                    top: 18px;
                    left: -34px;
                }
            }

            &.item-2{
                margin-top: 305px;

                @media screen and (max-width: $bp-XL){
                    margin-top: 270px;
                }

                .desc{
                    margin-top: -5px;
                }

                .line-right {
                    position: absolute;
                    right: -60px;
                    bottom: -114px;
                    width: 219%;
    
                    @media screen and (max-width: $bp-XL){
                        width: 119%;
                    }
                }

                .big-letter{
                    position: absolute;
                    top: -2px;
                    left: 11px;
                }
            }

            &.item-3{
                .line-left {
                    position: absolute;
                    width: 147% !important;
                    left: -21px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 74% !important;
                    }
                }

                .desc{
                    margin-top: -4px;
                }

                .big-letter{
                    position: absolute;
                    top: -4px;
                    left: -8px;
                }
            }

            &.item-4{
                .line-left {
                    position: absolute;
                    width: 151% !important;
                    left: -35px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 77% !important;
                    }
                }

                .desc{
                    margin-top: 3px;
                }

                .big-letter{
                    left: -29px;
                }
            }
            &.item-5{
                .title{
                    @media screen and (min-width: $bp-LG){
                        margin-top: -15px;
                    }
                }

                .big-letter{
                    top: 12px;
                    left: -37px;
                }
            }
            &.item-6{
                
                .title{
                    @media screen and (min-width: $bp-LG){
                        margin-top: -45px;
                    }
                }

                .desc{
                    margin-top: 5px;
                }
            }
        }
    }

    &.v-4{
        .banner-conheca__caption{
           
            .banner-conheca__title{
                white-space: nowrap;
            }

            .has-line{
                width: 184%;

                @media screen and (max-width: $bp-XL){
                    width: 177%;
                }

                @media screen and (max-width: $bp-LG){
                    width: 120%;
                }

                @media screen and (max-width: $bp-MD){
                    width: 80%;
                }
            }
        }

        .banner-conheca__item{
            &.item-1{
                margin-top: 207px;

                @media screen and (max-width: $bp-XL){
                    margin-top: 164px;
                }

                .line-right {
                    position: absolute;
                    right: -48px;
                    bottom: -113px;
                    width: 188.6%;
                    
                    @media screen and (max-width: 1300px){
                        width: 183%;
                    }

                    @media screen and (max-width: $bp-XL){
                        width: 101%;
                    }
                }

                .desc{
                    margin-top: 5px;
                }

                .big-letter{
                    position: absolute;
                    top: 1px;
                    left: -25px;
                }
            }

            &.item-2{
                margin-top: 305px;

                @media screen and (max-width: $bp-XL){
                    margin-top: 260px;
                }

                .desc{
                    margin-top: -5px;
                }

                .line-right {
                    position: absolute;
                    right: -60px;
                    bottom: -114px;
                    width: 219%;
    
                    @media screen and (max-width: $bp-XL){
                        width: 119%;
                    }
                }

                .desc{
                    margin-top: 7px;
                }

                .big-letter{
                    position: absolute;
                    top: 1px;
                    left: -25px;
                }
            }

            &.item-3{
                .line-left {
                    position: absolute;
                    width: 137% !important;
                    left: -21px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 65% !important;
                    }
                }

                .desc{
                    margin-top: -4px;
                }

                .big-letter{
                    position: absolute;
                    top: -2px;
                    left: 1px;
                }
            }

            &.item-4{
                .line-left {
                    position: absolute;
                    width: 127% !important;
                    left: -9px !important;
    
                    @media screen and (max-width: $bp-XL){
                        width: 60% !important;
                    }
                    
                }

                .title{
                    white-space: nowrap;
                }

                .desc{
                    margin-top: 3px;
                }

                .big-letter{
                    position: absolute;
                    top: -2px;
                    left: 10px;
                }
            }
            &.item-5{

                .desc{
                    margin-top:10px;
                }

                .big-letter{
                    top: 5px;
                    left: -50px;
                }
            }
            &.item-6{
                .line-vertical{
                    padding-top: 10px;
                }

                .desc{
                    margin-top: 5px;
                }
            }
        }
    }

}
