.solucoes-i {

    &__header {
        padding: 100px 0 30px;
        @media screen and (max-width: $bp-LG) {
            padding: 70px 0 17px;
        }
        @media screen and (max-width: $bp-SM) {
            padding: 40px 0 13px;
        }

        &.v-2 {
            padding-bottom: 70px;
            @media screen and (max-width: $bp-LG) {
                padding-bottom: 10px;
            }
            @media screen and (max-width: $bp-MD) {
                padding-bottom: 40px;
            }

            .solucoes-i__caption-desc {
                margin-top: 229px;
                @media screen and (max-width: $bp-LG) {
                    margin-top: 196px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-top: 0;
                }
            }
        }

        &.v-3 {
            padding-bottom: 70px;

            @media screen and (max-width: $bp-LG) {
                padding-bottom: 10px;
            }
            @media screen and (max-width: $bp-MD) {
                padding-bottom: 40px;
            }

            .solucoes-i__caption-desc {
                margin-top: 274px;

                @media screen and (max-width: $bp-LG) {
                    margin-top: 234px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-top: 0;
                }
            }
        }

        &.v-4 {
            padding-bottom: 70px;

            @media screen and (max-width: $bp-LG) {
                padding-bottom: 10px;
            }

            @media screen and (max-width: $bp-MD) {
                padding-bottom: 40px;
            }

            .title{
                font-size: 37px;

                @media screen and (max-width: $bp-MD){
                    font-size: 29px;
                }

                .has-line{
                    .line{
                        width: 170%;

                        @media screen and (max-width: $bp-MD){
                            width: 140%;
                        }
                    }
                }
            }  

            .solucoes-i__caption-desc {
                margin-top: 372px;

                @media screen and (max-width: $bp-LG) {
                    margin-top: 381px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-top: 0;
                }
            }
        }

        &.v-5 {
            padding-bottom: 70px;

            @media screen and (max-width: $bp-LG) {
                padding-bottom: 10px;
            }

            @media screen and (max-width: $bp-MD) {
                padding-bottom: 40px;
            }

            .title{
                font-size: 32px;

                @media screen and (max-width: $bp-MD){
                    font-size: 28px;
                }

                .has-line{
                    .line{
                        width: 124%;

                        @media screen and (max-width: $bp-MD){
                            width: 108%;
                        }
                    }
                }
            }  

            .solucoes-i__caption-desc {
                margin-top: 352px;

                @media screen and (max-width: $bp-XL) {
                    margin-top: 337px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-top: 0;
                }
            }
        }
    }

    &__caption {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: $bp-MD) {
            justify-content: flex-start;
        }

        &-desc {
            font-size: 15px;
            padding-left: 90px;
            margin-top: 318px;
            max-width: 400px;
            letter-spacing: 2px;
            @media screen and (max-width: $bp-LG) {
                margin-top: 270px;
            }
            @media screen and (max-width: $bp-MD) {
                text-align: left;
                padding-left: 0;
                margin-top: 0;
            }
        }

        .title {
            position: relative;
            text-align: right;
            width: auto;
            font-size: 29px;
            color: $color-secondary;
            text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: 4px;
            font-family: 'FH';

            .stroke-lettering {
                letter-spacing: 6px;
            }
            @media screen and (max-width: $bp-LG) {
                font-size: 25px;
            }
            @media screen and (max-width: $bp-MD) {
                text-align: left;
                margin-bottom: 20px;
            }
            @media screen and (max-width: $bp-SM) {
                font-size: 21px;
            }

            .ico {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &.movie {
                    top: 45%;
                    width: 160px;
                    left: -90px;
                    @media screen and (max-width: $bp-LG) {
                        width: 110px;
                        left: -30px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        left: unset;
                        right: -40px;
                    }
                    @media screen and (max-width: $bp-SM) {
                        width: 90px;
                        right: -30px;
                    }
                }

                &.consulting {
                    top: 48%;
                    width: 160px;
                    left: -100px;

                    @media screen and (max-width: $bp-LG) {
                        width: 110px;
                        left: -30px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        left: unset;
                        right: -40px;
                    }
                    @media screen and (max-width: $bp-SM) {
                        width: 100px;
                        right: -30px;
                        top: 38%;
                    }
                }

                &.equipe {
                    top: 19%;
                    width: 150px;
                    left: -100px;

                    @media screen and (max-width: $bp-LG) {
                        width: 110px;
                        left: -30px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        left: unset;
                        right: -40px;
                    }
                    @media screen and (max-width: $bp-SM) {
                        width: 100px;
                        right: -36px;
                        top: 20%;
                    }
                }

                &.strategy {
                    display: block;
                    position: relative;
                    top: 0%;
                    left: -10px;
                    transform: unset;
                    width: 200px;
                    margin-bottom: 10px;

                    @media screen and (max-width: $bp-MD){
                        position: absolute;
                        top: 80%;
                        right: -34px;
                        width: 120px;
                        left: unset;
                        padding-left: 10px;
                    }
                }

                &.share {
                    display: block;
                    position: relative;
                    top: 50px;
                    left: -53px;
                    transform: unset;
                    width: 180px;
                    margin-bottom: 10px;
                    margin-top: -70px;

                    @media screen and (max-width: $bp-XL){
                        width: 160px;
                        left: -27px;
                    }

                    @media screen and (max-width: $bp-MD){
                        right: -170px;
                        top: 0;
                        margin-bottom: -26px;
                        margin-top: 0;
                        width: 120px;
                        left: unset;
                        padding-left: 10px;
                    }
                }
            }

            .has-line {
                display: inline;
                position: relative;
                @keyframes slideIn170per {
                    0% {
                        max-width: 0;
                    }
                    100% {
                        max-width: 170%;
                    }
                }

                .text {
                    position: relative;
                    display: inline;
                    z-index: 4;
                }

                .line {
                    position: absolute;
                    width: 124%;
                    height: 3px;
                    max-width: 0;
                    background-color: $color-primary;
                    z-index: 1;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    animation: slideIn170per 2s;
                    animation-fill-mode: forwards;
                    z-index: -1;
                    
                    @media screen and (max-width: $bp-SM) {
                        height: 2px;
                        width: 105%;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $color-primary;
                    }
                }
            }
        }

    }
}
